#about
    h2
        font-weight: 700
        font-size: 40px
    h3
        font-size: 20px
        margin: 10px 0px 0px 0px
    .textbox,.textbox2
        width: 420px
        height: 162px
        line-height: 30px
        h1,h2
            font-size: 29px
            font-weight: 700
        h3
            font-size: 20px
            text-align: center
    .textbox
        position: relative
        left: 146px
        top: 58px
    .box,.box2
        width: 158px
        height: 162px
        border-radius: 80px
        background-color: #c1baba
        margin-bottom: 186px
        z-index: -1
        .imgbox
            width: 146px
            height: 151px
            border-radius: 99px
            position: relative
            top: 6px
            left: 5px
    .box
        position: relative
        right: 85px
        top: 90px
    .box2
        position: relative
        left: 560px
        top: 90px
        .end
            background-color: #ffc800
            h1
                font-size: 36px
                font-weight: 700
                margin-top: 33px
                color: #ffffff
    .textbox2
        position: relative
        left: 747px
        top: 80px
