#portfolio
    // background-color: #f8f9fa
    // h1
    //     font-size: 60px
    //     font-weight: 700
    // h3
    //     color: #9b9595
    //     margin: 25px 0px 40px 0px
    // .box
    //     width: 408px
    //     // height: 414px
    //     margin: 28px 0px 0px 0px

    background-color: #f8f9fa
    h1
        font-size: 45px

        font-weight: 700
        margin: 63px 17px 4px 0px
    h2
        font-size: 19px
    .box
        width: 408px
        height: 414px
        background-color: #ffffff
        margin: 28px 0px 0px 0px
        .textbox
            text-align: center
            h2
                font-weight: 700
                font-size: 30px
                margin: 15px 0px 10px 0px
            h3
                font-size: 20px
                color: #8b8686
