#portfolio

    background-color: #f8f9fa
    h1
        font-size: 45px
        font-weight: 700
        margin: 63px 17px 4px 0px
    h3
        font-size: 19px
        color: #a9a0a0
    .box

        height: 414px
        background-color: #ffffff
        margin: 28px 0px 0px 0px
        .textbox
            text-align: center
            h4
                font-weight: 700
                font-size: 30px
                margin: 15px 0px 10px 0px
            h5
                font-size: 20px
                color: #8b8686
    @media screen and ( max-width: 992px )
        .box

            .imgbox
                width: auto
    @media screen and ( max-width: 576px )
        .textbox
            h4
                font-size: 40px
            h5
                font-size: 18px
                margin-bottom: 35px
        .box
            margin-bottom: 60px
            .imgbox
                width: auto
