#services
    padding: 70px 0px 70px 0px
    h1
        font-size: 66px
        font-weight: 700
        margin: 39px 0px 20px 0px
    h3
        font-size: 28px
        color: grey
        margin-bottom: 60px
    .box
        .minibox
            .icon
                display: flex
                justify-content: center
                align-items: center
                font-size: 69px
                color: #ffffff
                background-color: #ffc800
                width: 135px
                height: 130px
                border-radius: 50%
                margin-left: 130px
        .textbox
            h2
                font-size: 30px
                font-weight: 700
                margin: 30px 0px 25px 0px
            h4
                font-size: 20px
                line-height: 28px
                color: #b3b0b0
    @media screen and ( max-width: 1199px )
        .box

            .minibox
                width: 300px
                display: flex
                justify-content: space-between

                    // margin-left: 30px
    @media screen and ( max-width: 576px )
        .box
            display: flex
            flex-direction: column

            .minibox

                display: flex
                justify-content: center
