#team
    background-color: #c0c0c020
    .textbox
        h1
            font-size: 50px
            font-weight: 700

        h3
            color: #dcd1d1
            font-size: 18px
            line-height: 2rem
            margin-bottom: 40px

    .box
        .imgbox
            width: 220px
            border-radius: 50%
            border: 8px solid #87818131
        .textbox
            text-align: center
            margin: 15px 0
            h2
                font-size: 30px
                font-weight: 700
            h4
                color: #b3afaf
                font-size: 20px
                margin: 10px 0px 0px 0px
        ul
            display: flex
            justify-content: center
            li
                margin: 10px
                .icon
                    display: flex
                    justify-content: center
                    align-items: center
                    cursor: pointer
                    font-size: 15px
                    width: 25px
                    height: 25px
                    border-radius: 50%
                    border: 20px solid black
                    color: #ffffff
    .textbox
        p
            font-size: 30px
            color: #6c757d
            margin: 25px 0px 60px 0px
    @media screen and ( max-width: 576px)
        .textbox
            //    

    @media screen and ( max-width: 768px  )
        .textbox
            h3
                // 
            p
                padding: 0
        .box
            ul
                // 

    @media screen and ( max-width: 992px )
        .textbox
            p
                // 
