#welcome
    background-image: url("assests/home.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 750px
    .box
        position: absolute
        top: 267px
        /* z-index: 1; */
        left: 674px
        h1
            color: #ffffff
            font-size: 40px
            margin: 18px 0px 0px 60px
        h2
            font-size: 90px
            color: #ffffff
            font-weight: 700
        .btn
            border: 1px solid #ffc800
            width: 222px
            height: 68px
