#welcome
    background-image: url("/assests/home.jpg")
    background-position: center
    background-size: cover
    .box
        height: 750px
        
        .textbox
            text-align: center
            h1
                color: #ffffff
                font-size: 45px
            h2
            
            color: #ffffff
            font-size: 70px
            font-weight: 700
        .btn
            border: 2px solid yellow
            background-color: yellow
            height: 100px
            h3
                font-size: 18p/* */x
                color: #ffffff
