#welcome
    background-image: url("/assests/home.jpg")
    background-position: center
    background-size: cover
    .box
        height: 750px
        .textbox
            h1
                color: #ffffff
                font-size: 45px
        .textbox2
            color: #ffffff
            font-size: 70px
            font-weight: 700        

        
